<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Scalable Background CSS</title>

<style>
#bg{
position: fixed;
top: -50%;
left: -50%;
width: 200%;
height: 200%;
}
#bg img{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
min-width: 50%;
min-height: 50%;
}
</stlyle>
</head>

<body>
    <div id="bg">
      <img src="images/background-image.jpg">
    </div>
</body>
</html>
